body {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.5), 
			rgba(0, 0, 0, 0.5)
		),
		url(https://i.imgur.com/BEqSltJ.jpeg) no-repeat fixed;
	background-size: cover;
}

.h2-centered {
	color: aliceblue;
	text-align: center;
}

.blue-blurry-shadow {
	text-shadow: 2px 2px 10px #428ebf;
}

.blue-blurry-shadow {
	text-shadow: 0px 2px 3px midnightblue;
}

.system-ui-font {
	font-family: system-ui, 'Segoe UI', 'Open Sans', sans-serif;
}

.vert-flex-container {
	display: flex;
	flex-direction: column;
}

.horz-flex-container {
	display: flex;
	flex-direction: row;
}

.product-image-div {
	min-width: 200px;
	min-height: 200px;
	display: flex;
}

/* a centered product image */
.product-image {
	display: block;
	margin: auto;
	max-width: 200px;
	max-height: 200px;
}

.ridge-border {
	border-style: ridge;
	border-width: 3px;
	border-radius: 30px;
}

.ridge-border-squared {
	border-style: ridge;
	border-width: 2px;
	border-radius: 5px;
}

.product-name {
	/* max-width: 200px; */
	/* adjust the margins so the text's in the middle */
	margin: 15px auto;
}

.product-name-fontsize-default {
	font-size: x-large;
}

.product-name-fontsize-smaller {
	font-size: large;
}

.product-padding {
	/* leave space around the product image */
	padding: 20px;
	margin: 10px;
}

.product-card {
	min-width: 200px;
	max-width: 200px;
	height: 280px;
}

.product-border {
	border-style: outset;
	border-width: 0px;
	border-radius: 10px;
	border-color: #d5feff;
}

.product-filters {
	top: 50px;
	position: sticky;
	min-width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;

	max-height: calc(100vh - 100px);
	overflow-y: auto;
	/* higher z-index than the product-listing */
	z-index: 10;

	transition: 0.2s;
}

.product-filters-circlebtn {
	margin-left: auto;
	font-weight: bolder;
	left: -20px;
	bottom: 50%;

	position: fixed;
	right: 0px;
	top: 50%;
	transform: translate(0, -50%);

	font-size: 40px;
	width: 50px;
	height: 50px;

	z-index: 5;
	border-radius: 50%;
	background-color: #4299bf;

	transition: 0.2s;
}

.product-filters-circlebtn.openmenu {
	right: var(--product-filters-width, 50px);
	z-index: 20;
}

.product-filters-circlebtn:hover {
	background-color: #d5feff;
}

.product-listing {
	max-width: 1200px;
	position: relative;
	z-index: 1;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

p {
	color: aliceblue;
}

p.small-leftright-padding {
	padding-left: 20px;
	padding-right: 20px;
}

.pagination {
	text-align: center;
}

.page-buttons {
	border-style: none;
	background-color: aliceblue;
	border-radius: 50px;
	padding: 10px;
	transition-duration: 100ms;
	margin-left: 20px;
	margin-right: 20px;
}

.page-buttons:hover {
	background-color: rgb(196, 196, 196);
}

/* a class that only appears on mobile screens */
.mobile-only {
	display: none;
}

.pagination.hidden {
	visibility: hidden;
}

.no-click-events {
	pointer-events: none;
}

/* Modal container */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* Darkened background */
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Ensure it appears above everything */
	opacity: 0; /* Start fully transparent */
	transition: opacity 0.3s ease-in-out; /* Smooth fade */
}

/* Modal when visible */
.modal.show {
	display: flex; /* Make it visible */
	opacity: 1; /* Fully visible */
}

/* Modal content with zoom effect */
.modal-content {
	background: #2b2b2b;
	border-radius: 10px;
	position: relative;
	width: 80%;
	/*max-width: 500px;*/
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transform: scale(0.95); /* Start slightly smaller */
	transition: transform 0.3s ease-in-out; /* Smooth zoom-in */
}

/* Modal content when visible */
.modal.show .modal-content {
	transform: scale(1); /* Scale to full size */
}

#productcont-desc {
	overflow-y: auto;
	max-height: 40vh;
}

#productcont-closebutton {
	/* align the button to the right */
	display: flex;
	margin-left: auto;

	background-color: inherit;
	text-align: right;
	color: white;
	font-size: xx-large;
	margin-top: -20px;
}

/* mobile screens */
@media screen and (max-width: 880px) {
	.horz-flex-container {
		flex-direction: column;
	}

	.product-image-div {
		min-width: 70px;
		min-height: 70px;
	}

	.product-image {
		max-width: 70px;
		max-height: 70px;
	}

	.product-name-fontsize-default {
		font-size: large;
	}

	.product-name-fontsize-smaller {
		font-size: medium;
	}

	.product-card {
		min-width: 100px;
		max-width: 100px;
		height: 150px;
	}

	.product-filters {
		background: rgb(89 73 50);
		position: fixed;
		height: 70vh;

		padding: 20px;

		border-radius: 30px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;

		min-width: auto;
		max-width: 70vw;
		right: 0;
		/* reset the two margins for mobile */
		margin-right: 0;
		margin-left: 0;

		/* center the nav bar */
		top: 50%;
		transform: translate(0, -50%);
	}

	.product-filters.hidden {
		transform: translate(100%, -50%);
	}

	.product-filters-wrapper {
		position: relative;
		height: 0;
		z-index: 10;
		top: 5px;
	}

	.product-listing {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	.mobile-only {
		display: block;
	}
}

/* very small screens */
@media screen and (max-width: 330px) {
	.system-ui-font {
		font-size: small;
	}

	.page-buttons {
		margin-left: 10px;
		margin-right: 10px;
	}
}